<div class="container">
    <h1 style="color:#256D85 ;" ><b>Registro responsable</b></h1>
    <div class="formato">
        <div class="inputs">
            <form [formGroup]="registroResponsableForms" (ngSubmit)="guardarResponsable(registroResponsableForms.value)" >
                <label style="font-size: 1rem;">DUI</label> <br>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>DUI</mat-label>
                    <input formControlName="dui" matInput>
                </mat-form-field>
                <br>

                <label style="font-size: 1rem;">Nombre</label> <br>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="nombre" matInput>
                </mat-form-field>
                <br>

                <label style="font-size: 1rem;">Apellido</label> <br>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Apellido</mat-label>
                    <input formControlName="apellidos" matInput>
                </mat-form-field>
        
                <br>
                <label style="font-size: 1rem;">Direccion</label> <br>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Direccion</mat-label>
                    <input formControlName="direccion" matInput>
                </mat-form-field>
        
                <br>
                <label style="font-size: 1rem;">Telefono</label> <br>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Telefono</mat-label>
                    <input formControlName="telefono" matInput>
                </mat-form-field>

                <br>
                <label style="font-size: 1rem;">Fecha de nacimiento</label> <br>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <input formControlName="fechaNacimiento" value="{{this.fecha | date:'yyyy-MM-dd'}}" type="date" matInput>
                </mat-form-field>
                <br>
                <button type="submit" mat-raised-button class="btn-guardar">Guardar</button>
            </form>
        </div>
    </div>
  
    <ng-template [ngIf]="this.accionCrud === 'editar'">
        <div class="tittle-container">
            <h1><b>Beneficiarios</b></h1>
            <button mat-raised-button class="btn-nuevo" [routerLink]="['/registro/responsable/'+this.duiResponsable+'/beneficiario/crear']">Nuevo</button>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Nombre -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef style="font-size: 1rem;"> <b>Nombre</b> </th>
                    <td mat-cell *matCellDef="let element" style="font-size: 1rem;"> {{element.nombre}} </td>
                </ng-container>
              
                <!-- Apellidos -->
                <ng-container matColumnDef="apellidos">
                    <th mat-header-cell *matHeaderCellDef style="font-size: 1rem;"> <b>Apellidos</b> </th>
                    <td mat-cell *matCellDef="let element" style="font-size: 1rem;"> {{element.apellidos}} </td>
                </ng-container>
              
                <!-- Editar -->
                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef style="font-size: 1rem;"> <b>Editar</b></th>
                    <td mat-cell *matCellDef="let element" style="font-size: 1rem;"> 
                        <button mat-icon-button color="black" [routerLink]="['/registro/responsable/'+this.duiResponsable+'/beneficiario/editar/'+element.id]">
                            <mat-icon>edit</mat-icon>
                        </button>
                </ng-container>
              
                <!-- Borrar -->
                <ng-container matColumnDef="borrar">
                    <th mat-header-cell *matHeaderCellDef style="font-size: 1rem;"> <b>Borrar</b></th>
                    <td mat-cell *matCellDef="let element" style="font-size: 1rem;"> 
                        <button (click)="openDialog('0ms', '0ms',element.id)" mat-icon-button color="black">
                            <mat-icon>delete</mat-icon>
                        </button>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
    </ng-template>
    <br>
    <div class="container-btn-atras">
        <button class="btn-atras" mat-raised-button [routerLink]="['/busquedaExpediente']">Atras</button>
    </div>

</div>