<p>registro-beneficiario works!</p>
<br><div class="contenedor"><br><br>
<h1 style="color:#0F91D2;" ><b>Registro de Beneficiario</b></h1> 


     <!-- Nombre -->
    <mat-form-field class="largo" appearance="outline">
      <mat-label>Nombre</mat-label>
      <textarea formControlName="Nombre" matInput></textarea>
    </mat-form-field><br>
    <!-- Apellidos -->
    <mat-form-field class="largo" appearance="outline">
        <mat-label>Apellidos</mat-label>
        <textarea formControlName="Apellidos" matInput></textarea>
    </mat-form-field><br>

    <div>
      <!-- Fecha de Nacimiento -->
      <mat-form-field appearance="outline" style="margin-right: 8px;">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput formControlName="fechaDeNacimiento" type="number">
      </mat-form-field>
      <!-- Sexo -->
      <mat-form-field appearance="outline" style="margin-right: 8px;">
        <mat-label>Sexo</mat-label>
        <input matInput formControlName="sexo" type="number">
      </mat-form-field>
    </div>

    <!-- Antecedentes Medicos -->
    <mat-form-field class="largo" appearance="outline">
        <mat-label>Antecedentes Medicos</mat-label>
        <textarea formControlName="antecedentesMedicos" matInput></textarea>
    </mat-form-field><br>
    <!-- Antecedentes Familiares -->
    <mat-form-field class="largo" appearance="outline">
        <mat-label>Antecedentes Familiares</mat-label>
        <textarea formControlName="antecedentesFamiliares" matInput></textarea>
    </mat-form-field><br>
    <!-- Medicamento Prescritos -->
    <mat-form-field class="largo" appearance="outline">
        <mat-label>Medicamento Prescritos</mat-label>
        <textarea formControlName="medicamentoPrescrito" matInput></textarea>
    </mat-form-field><br>



</div>
