.contenedor{
    width: 960px;
    margin:auto;
    margin-left: 20px;
}
.example{
    display: flex;
    width: 100%;
    align-items: center;
}
.example-button-row {
    display: flex;
    width: 100%;
    padding-right: 5px;
    align-items: center;
    margin-left: 100px;
  }