<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div>
        <h1>Registro Pedag&oacute;gico</h1>
    </div>
    <br>
    <div class="centrar">
    <table class="tWidth">
        <tr>
            <h2>Datos acad&eacute;micos</h2>
            <br>
        </tr>
        <tr>
            <td colspan="2"><font>Centro de estudio</font></td>
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field class="fullWidth" appearance="outline">
                    <mat-label>Colegio Eucaristico San Martin</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td width="55%">
                <font>Nivel acad&eacute;mico en curso</font>
            </td>
            <td width="45%">
                <font>Grado en curso</font>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline" class="sWidth">
                    <mat-select value="Parvularia" >
                      <mat-option value="Parvularia">Parvularia</mat-option>
                      <mat-option value="Primer ciclo">Primer ciclo</mat-option>
                      <mat-option value="Segundo ciclo">Segundo ciclo</mat-option>
                      <mat-option value="Tercer ciclo">Tercer ciclo</mat-option>
                      <mat-option value="Bachillerato">Bachillerato</mat-option>
                      <mat-option value="Universidad">Universidad</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline" class="fullWidth">
                    <mat-select value="Primer grado">
                      <mat-option value="Primer grado">Primer grado</mat-option>
                      <mat-option value="Segundo grado">Segundo grado</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <font>Rendimiento acad&eacute;mico</font>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field class="fullWidth" appearance="outline">
                    <mat-label>Grados repetidos</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <br>
    <table class="tWidth">
        <tr>
            <h2>Record acad&eacute;mico</h2>
            <br>
        </tr>
        <tr>
            <td width="52%">
                <font>Materia</font> 
            </td>
            <td width="48%">
                <font>Nota</font>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="sWidth2" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullWidth" appearance="outline">
                    <input matInput>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <button mat-raised-button style="background-color:#47B5FF;width: 200px;color: white;">Agregar</button> 
            </td>
        </tr>
    </table>
    <br>
    <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8 tWidth">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="materia">
          <th mat-header-cell *matHeaderCellDef> Materia </th>
          <td mat-cell *matCellDef="let element"> {{element.materia}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="nota">
          <th mat-header-cell *matHeaderCellDef> Nota final </th>
          <td mat-cell *matCellDef="let element"> {{element.nota}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let element"> <i>edit</i> </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef> Eliminar </th>
          <td mat-cell *matCellDef="let element"> <mat-icon style="size-adjust: 100%;">delete</mat-icon> </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>
      </table><br>
      <table class="tWidth">
        <tr>
            <td width="80%" align="right">
                <button mat-raised-button style="background-color:#DFF6FF;width: 200px;color: #47B5FF;margin-right: 20px;">Atr&aacute;s</button>
            </td>
            <td align="right" >
                <button mat-raised-button style="background-color:#159600;width: 200px;color: white;">Guardar</button>
            </td>
        </tr>
      </table>
    </div>
    
      
    <br>
    <br>
