<html>
  <body><br><br>
    <div class="centro"><h1 class="h1-format"><b>Hábitos de consumo</b></h1></div>
    <br>
    <div class="centrar">
    <form [formGroup]="habitosConsumoForms" (ngSubmit)="guardarhabitosConsumo(habitosConsumoForms.value)">
    <table>
        <tr>
            <td [width]="'300px'"></td>
            <td [width]="'150px'"> <font>Veces por semana</font> </td>
            <td [width]="'300px'"></td>
            <td [width]="'150px'"><font>Veces por semana</font></td>
        </tr>
        <tr>
            <td><mat-form-field appearance="outline">
                <b><input matInput placeholder="Leche" readonly="true"></b>
              </mat-form-field></td>
            <td>
                <mat-form-field appearance="outline" class="format-select">
                    <mat-label>Unidad</mat-label>
                    <input formControlName="leche"  matInput type="number" >
                  </mat-form-field>
            </td>
            <td><mat-form-field appearance="outline">
                <b><input matInput placeholder="Yogurt" readonly="true"></b>
              </mat-form-field></td>
            <td>
                <mat-form-field appearance="outline" class="format-select">
                    <mat-label>Unidad</mat-label>
                    <input formControlName="yogurt" matInput type="number" >
                  </mat-form-field>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><font>Veces por semana</font></td>
            <td></td>
            <td><font>Veces por semana</font></td>
        </tr>
        <tr>
            <td><mat-form-field appearance="outline">
                <b><input matInput placeholder="Vegetales" readonly="true"></b>
            </mat-form-field></td>
            <td>
                <mat-form-field appearance="outline" class="format-select">
                    <mat-label>Unidad</mat-label>
                    <input formControlName="vegetales" matInput type="number" >
                  </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <b><input matInput placeholder="Fruta" readonly="true"></b>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline" class="format-select">
                    <mat-label>Unidad</mat-label>
                    <input formControlName="fruta" matInput type="number" >
                  </mat-form-field>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><font>Veces por semana</font></td>
            <td></td>
            <td><font>Veces por semana</font></td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <b><input matInput placeholder="Pan Frances" readonly="true"></b>
                  </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline" class="format-select">
                    <mat-label>Unidad</mat-label>
                    <input formControlName="panFrances" matInput type="number" >
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <b><input matInput placeholder="Tortilla" readonly="true"></b>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline" class="format-select">
                    <mat-label>Unidad</mat-label>
                    <input formControlName="tortilla" matInput type="number" >
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><font>Veces por semana</font></td>
            <td></td>
            <td><font>Veces por semana</font></td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <b><input matInput placeholder="Comida Chatarra" readonly="true" ></b>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline" class="format-select">
                    <mat-label>Unidad</mat-label>
                    <input formControlName="comidaChatarra" matInput type="number" >
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <b><input matInput placeholder="Dulces" readonly="true"></b>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline" class="format-select">
                    <mat-label>Unidad</mat-label>
                    <input formControlName="dulces" matInput type="number" >
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><font>Veces por semana</font></td>
            <td></td>
            <td><font>Veces por semana</font></td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <b><input matInput placeholder="Caf&eacute;" readonly="true"></b>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline" class="format-select">
                    <mat-label>Unidad</mat-label>
                    <input formControlName="cafe" matInput type="number" >
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <b><input matInput placeholder="Pollo" readonly="true"></b>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline" class="format-select">
                    <mat-label>Unidad</mat-label>
                    <input formControlName="pollo" matInput type="number" >
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><font>Veces por semana</font></td>
            <td></td>
            <td><font>Veces por semana</font></td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <b><input matInput placeholder="Carne" readonly="true"></b>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline" class="format-select">
                    <mat-label>Unidad</mat-label>
                    <input formControlName="carne" matInput type="number" >
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <b><input matInput placeholder="Pescado" readonly="true"></b>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline" class="format-select">
                    <mat-label>Unidad</mat-label>
                    <input formControlName="pescado" matInput type="number" >
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><font>Veces por semana</font></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <b><input matInput placeholder="Otros" readonly="true"></b>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline" class="format-select">
                    <mat-label>Unidad</mat-label>
                    <input formControlName="otro" matInput type="number" >
                </mat-form-field>
            </td>
            <td colspan="2"></td>
            
        </tr>
        <tr>
          <td colspan="3"></td>
          <td>
           
          </td>
        </tr>
    </table>
    <section>
        <div class="example-button-row">
          <button [disabled]="!habitosConsumoForms.valid" type="submit" style="left: 25%;width: 200px;background-color: rgb(55, 174, 26);color: white;" mat-raised-button color="primary">Guardar</button>
          <button [disabled]="!habitosConsumoForms.valid" style="left: 30%;width: 200px;background-color:#47B5FF;color: white;" [routerLink]="['/nutricion/recordatorio24Horas/crear',this.idConsulta]"  mat-raised-button>Siguiente</button>
        </div>
    </section>
    </form>
    </div>
    <br>
  </body>
</html>