.example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
.a{
    color: #256D85;
    
  }

  .active{

    border: 1px solid rgb(0, 0, 0);
  }

  .h1-In{
    color: #1474af;
   font-size: 30px;
   padding-top: 10px;
  }
  .centro{
    position: absolute;
    left: 220px;
  }
  .contenedor{
    width:960px;
    margin:auto;
    margin-left: 200px;
}
.imgRedonda {
    width:30px;
    height:30px;
    border-radius:150px;
}