<link href="./plan-alimenticio.component.css" rel="stylesheet" >

<div class="container">

    <div class="tittle-container">
        <h1 style="color: #06283D;"><b> Plan Alimenticio</b></h1>
    </div>
    <div class="table-container">
        <table width="100%" class="mat-table mat-elevation-z8">
            <thead style="background-color: #f1f1f1;">

                <tr class="mat-header-row" style="text-align: left; height: 3rem;">
                    <ng-container>
                        <th class="mat-header-cell" style="padding-left: 4rem;"> Dia </th>
                    </ng-container>
                    <ng-container>
                        <th class="mat-header-cell" style="padding-left: 4rem;"> Tiempo</th>
                    </ng-container>
                    <ng-container>
                        <th class="mat-header-cell" style="padding-left: 4rem;"> Comida </th>
                    </ng-container>
                    <ng-container>
                        <th class="mat-header-cell" style="padding-left: 4rem;"> Cantidad </th>
                    </ng-container>
                    <ng-container>
                        <th class="mat-header-cell" style="padding-left: 4rem;"> unidad </th>
                    </ng-container>
                    <ng-container>
                        <th class="mat-header-cell" style="padding-left: 4rem;"> Proteínas </th>
                    </ng-container>
                    <ng-container>
                        <th class="mat-header-cell" style="padding-left: 4rem;"> Grasas </th>
                    </ng-container>
                    <ng-container>
                        <th class="mat-header-cell" style="padding-left: 4rem;"> Carbohidratos </th>
                    </ng-container>
                    <ng-container>
                        <th class="mat-header-cell" style="padding-left: 4rem;"> Calorías </th>
                    </ng-container>
                    <ng-container>
                        <th class="mat-header-cell" style="padding-left: 4rem;"> Opciones </th>
                    </ng-container>
                </tr>
        </thead>
        <tbody>
            <tr class="mat-row"  style="text-align: left;" role="row">
                <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"> Lunes </td>
                </ng-container>
                <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"> desayuno</td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"> Pechuga de pollo </td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"> 250 </td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;">gr </td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"> 46 </td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"> 2 </td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"> 0 </td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"> 202 </td>
                </ng-container>
                <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"> 
                        <button mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </td>
                </ng-container>
            </tr>

            <tr class="mat-row" style="text-align: center;" role="row">
                <ng-container>
                    <td class="mat-cell" style="padding-left: 2rem;">
                        <mat-form-field  appearance="outline" style="width: 9rem;">
                            <mat-label>Dia</mat-label>
                            <mat-select class="mat-select">
                              <mat-option value=""></mat-option>
                            </mat-select>
                          </mat-form-field>
                    </td>
                </ng-container>
                <ng-container>
                    <td class="mat-cell" style="padding-left: 2rem;"> 
                        <mat-form-field appearance="outline">
                            <mat-label>Tiempo de comida</mat-label>
                            <mat-select>
                              <mat-option>
                              </mat-option>
                            </mat-select>
                          </mat-form-field> 
                    </td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 2rem;"> 
                        <mat-form-field appearance="outline">
                            <mat-label>Comida</mat-label>
                            <mat-select>
                              <mat-option>
                              </mat-option>
                            </mat-select>
                          </mat-form-field>  
                    </td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 2rem;"> 
                        <mat-form-field class="example-full-width" appearance="outline" style="width: 5rem;">
                            <mat-label>Cantidad</mat-label>
                            <input matInput>
                          </mat-form-field>
                     </td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 2.5rem;"> 
                        <mat-form-field class="example-full-width" appearance="outline" style="width: 5rem;">
                            <mat-label>unidad</mat-label>
                            <input matInput>
                          </mat-form-field>
                    </td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"></td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"></td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"></td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"></td>
                </ng-container>
                    <ng-container>
                    <td class="mat-cell" style="padding-left: 2.5rem;">
                        <button mat-raised-button color="#47B5FF" class="btn-agregar">Agregar</button>
                    </td>
                </ng-container>
            </tr>

            <tr class="mat-row" style="text-align: left" role="row">
                <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"> Total </td>
                </ng-container>
                <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"></td>
                </ng-container>
                <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"></td>
                </ng-container>
                <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"></td>
                </ng-container>
                <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;"></td>
                </ng-container>
                <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;">"numero"</td>
                </ng-container>
                <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;">"numero"</td>
                </ng-container>
                <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;">"numero"</td>
                </ng-container>
                <ng-container>
                    <td class="mat-cell" style="padding-left: 4rem;">"numero"</td>
                </ng-container>
            </tr>
            
        </tbody>
      </table>
    </div>

    <button mat-raised-button color="#47B5FF" class="btn-guardar">Guardar</button>

</div>}

<mat-table></mat-table>
      

