html,body{
    font-family: sans-serif;
}

#title-container{
width: 600px; 
height: 30px;  
}

#table-container{

}
#footer-container{

}

h1{
    margin-top: 0;
    margin-bottom: 0.5rem;
    background-color: #06283D;
}