.container{
    margin-left: 20px;
}
.demo-table {
    width: 100%;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    background-color: lightgrey;
  }
  .boton{
    color: #fff;
    background-color: #159600;
    width: 120px;
    margin-top: 30px;
    margin-left: 820px;
}