<div class="contenedor"><br><br>

      <h1 style="color: #06283D;"><b>Recordatorio de 24 Horas</b></h1>
   

<div>
  <h1 style="color: #47B5FF;">
    Desayuno
  </h1>
</div>
    <div class="example">
  <mat-form-field style="padding-right: 5px; width: 500px;"  appearance="outline">
    <mat-label>Comida</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field style="padding-right: 5px;"  appearance="outline">
    <mat-label >Hora de Consumo</mat-label>
    <input matInput type="time">
  </mat-form-field>
  </div>
  <div>
    <h1 style="color:#47B5FF;">Almuerzo</h1>
  </div>
    <div class="example">
      <mat-form-field style="padding-right: 5px; width: 500px;"  appearance="outline">
        <mat-label>Comida</mat-label>
        <input matInput>
      </mat-form-field>
        <mat-form-field style="padding-right: 5px;"  appearance="outline">
        <mat-label >Hora de Consumo</mat-label>
        <input matInput type="time">
      </mat-form-field>
      </div>
      <div>
        <h1 style="color:#47B5FF;">Cena</h1>
      </div>
        <div class="example">
          <mat-form-field style="padding-right: 5px; width: 500px;"  appearance="outline">
            <mat-label>Comida</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field style="padding-right: 5px;"  appearance="outline">
            <mat-label >Hora de Consumo</mat-label>
            <input matInput type="time">
          </mat-form-field>
          </div>
          <div>
            <mat-form-field style="padding-bottom: 6px;" appearance="outline">
              <mat-label >Vaso de Agua Diario</mat-label>
              <input matInput type="number">
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button class="botom">Guardar</button>
          </div>
        </div>
