<div class="container">
    <h1 style="color:#256D85;"><b>Consulta Médica</b></h1><br>
    <!--Datos medicos-->
    <h2 style="color: #06283D;"><b>Datos médicos</b></h2>
    <div class="formato">
        <div class="inputs">
            <label style="font-size: 1rem;">Antecedentes Familiares</label><br>
            <mat-form-field appearance="outline" style="width: 100%; line-height: 200%;">
                <!-- <mat-label>Transtorno de ansiedad generalizada</mat-label> -->
                <textarea matInput>{{this.antecedenteFamiliar}}</textarea>
            </mat-form-field><br>

            <label style="font-size: 1rem;">Antecedentes Personales</label><br>
            <mat-form-field appearance="outline" style="width: 100%;line-height: 200%;">
                <!-- <mat-label>Transtorno de pánico</mat-label> -->
                <textarea matInput>{{this.antecedenteMedico}}</textarea>
            </mat-form-field><br>
            <br>

            <!--Plan terapeutico-->
            <h2 style="color: #06283D; "><b>Consulta</b></h2><br>
            <label style="font-size: 1rem;">Motivo de la consulta</label><br>
            <mat-form-field appearance="outline" style="width: 100%; line-height: 200%;">
                <mat-label></mat-label>
                <textarea matInput></textarea>
            </mat-form-field><br>

            <label style="font-size: 1rem;">Examen fisico</label><br>
            <mat-form-field appearance="outline" style="width: 100%;line-height: 200%;">
                <mat-label> </mat-label>
                <textarea matInput></textarea>
            </mat-form-field><br>
            <label style="font-size: 1rem;">Diagnostico</label><br>
            <mat-form-field appearance="outline" style="width: 100%; line-height: 200%;">
                <mat-label> </mat-label>
                <textarea matInput></textarea>
            </mat-form-field><br>

            <label style="font-size: 1rem;">Plan de tratamiento</label><br>
            <mat-form-field appearance="outline" style="width: 100%; line-height: 200%;">
                <mat-label></mat-label>
                <textarea matInput></textarea>
            </mat-form-field><br>

            <!--Botones guardar y a atras-->
            <button class="btn-guardar" mat-raised-button>Guardar</button>
            <button class="btn-atras" mat-raised-button [routerLink]="['/beneficiario/'+this.beneficiarioId+'/fichaMedica']">Atras</button>
        </div>

    </div>
</div>
