<div class="contenedor">
    <h1 style="color: #256D85;"><br><b>Expediente Médico</b></h1>

    <form class="example-section" [formGroup]="duiForms" (ngSubmit)="getListBeneficiarios(this.duiForms.value.dui)">
      <mat-form-field appearance="outline" style="width: 270px; padding-right: 1%;">
        <mat-label>DUI</mat-label>
        <input formControlName="dui" matInput style="font-size: 18px;">
      </mat-form-field>
      <button type="submit" mat-raised-button class="boton1">
        <mat-icon>search</mat-icon>
        Buscar
      </button>
    </form>    


    <div style="margin-top: 30px;">
        <button mat-raised-button class="boton2" [routerLink]="['/registro/responsable/crear']">Nuevo Responsable</button>
    </div>

    <div style="margin-top: 40px;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

            <ng-container matColumnDef="nombres">
              <th mat-header-cell *matHeaderCellDef style="font-size: 15px;"> Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
        
            <ng-container matColumnDef="apellidos">
              <th mat-header-cell *matHeaderCellDef style="font-size: 15px;"> Apellidos </th>
              <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
            </ng-container>
       
            <ng-container matColumnDef="verExpedientes">
              <th mat-header-cell *matHeaderCellDef style="font-size: 15px;">Ver<br>Expediente</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [routerLink]="['/beneficiario/'+element.id+'/expedienteMedico']">
                  <mat-icon>visibility</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <ng-container matColumnDef="editar">
              <th mat-header-cell *matHeaderCellDef style="font-size: 15px;"> Editar </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [routerLink]="['/registro/responsable/editar/',this.duiForms.value.dui]">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
          </table>
    </div>
</div>
