.contenedor{
    width:750px;
    margin-left: 20px;
}

.example-section{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 60px;
    margin-left: 160px;
    /*justify-content: space-around;*/
}
.boton1{
    background-color: #DFF6FF;
    color: black;
    width: 155px;
    height: 55px;
    margin-bottom: 20px;
    font-size: 15px;
}
.boton2{
    background-color: #0F91D2;
    color: white;
    width: 170px;
    /* height: 55px;
    margin-bottom: 20px; */
    margin-left: 550px;
    font-size: 15px;
}
.table {
    width: 100%;
  }
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    background-color: lightgrey;
  }