.contenedor{
    width: 1500px;
    margin: auto;
    margin-left: 10px;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .example{
    display: flex;
    width: 100%;
    align-items: center;
}
.boton{
  margin-right: 5px; 
  padding-right: 5px; 
  width: 245px; 
  background-color: #159600; 
  color: white;
}