<br><div class="contenedor">
<h1 style="color:#06283D; width: 100% font-size 200%">Datos médicos</h1>
<form>

<mat-form-field appearance="outline">
    <mat-label>Textarea</mat-label><label style="color:#06283D">Antecedentes Familiares</label>
    <textarea matInput></textarea>
  </mat-form-field><br>

<mat-form-field appearance="outline">
    <mat-label>Textarea</mat-label><label style="color:#06283D" >Antecedentes Médicos</label>
    <textarea matInput></textarea>
  </mat-form-field><br>

<mat-form-field appearance="outline">
    <mat-label>Textarea</mat-label><label style="color:#06283D" >Médicamentos Prescritos</label>
    <textarea matInput></textarea>
  </mat-form-field><br><br>

<h1 style="color:#06283D; width: 100% font-size 200%">Datos Antropométricos</h1><br>

<mat-form-field appearance="outline">
  <mat-label>Input</mat-label><label style="color:#06283D" >Peso Actual</label>
  <input matInput>
</mat-form-field>


<label style="color:#06283D" >Kg</label>


<mat-form-field appearance="outline">
  <mat-label>Input</mat-label><label style="color:#06283D" >Peso Meta</label>
  <input matInput>
</mat-form-field>


<label style="color:#06283D" >Kg</label>

<mat-form-field appearance="outline">
  <mat-label>Input</mat-label><label style="color:#06283D" >Peso Ideal</label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" >Kg</label>

<mat-form-field appearance="outline">
  <mat-label>Input</mat-label><label style="color:#06283D" >Grasa Viceral</label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" >%</label><br>

<mat-form-field appearance="outline">
  <mat-label>Input</mat-label><label style="color:#06283D" >Grasa Muscular</label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" >%</label>

<mat-form-field appearance="outline">
  <mat-label>Input</mat-label><label style="color:#06283D" >C. Cintura</label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" >Cm</label>

<mat-form-field appearance="outline">
  <mat-label>Input</mat-label><label style="color:#06283D" >C. Cadera</label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" >Cm</label>

<mat-form-field appearance="outline">
  <mat-label>Input</mat-label><label style="color:#06283D" >C. Muñeca</label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" >Cm</label><br>

<mat-form-field appearance="outline">
  <mat-label>Input</mat-label><label style="color:#06283D" >C. Brazo Relajado</label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" >Cm</label>

<mat-form-field appearance="outline">
  <mat-label>Input</mat-label><label style="color:#06283D" >C. Brazo Contraido</label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" >Cm</label>

<mat-form-field appearance="outline">
  <mat-label>Input</mat-label><label style="color:#06283D" >Altura</label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" >Cm</label>

<mat-form-field appearance="outline">
  <mat-label>Input</mat-label><label style="color:#06283D" >Indice masa corporal</label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" >Kg/m^2</label><br>



<br><mat-form-field appearance="outline">
    <mat-label>Textarea</mat-label><label style="color:#06283D" >Diagnostico</label><br>
    <textarea matInput></textarea>
  </mat-form-field><br>


  <section>
    <div class="example-button-row">
      <button mat-raised-button color="#159600">Guardar</button>
    </div>
  </section><br>


</form>
</div>