<br><div class="contenedor">
<h1 style="color:#06283D;" ><b>Datos médicos</b></h1>
<form>
<!-- Aqui te dejo este ejemplo como deben ir los demás componentes -->
<mat-form-field class="largo" appearance="outline">
    <mat-label>Antecedentes Familiares</mat-label>
    <textarea matInput></textarea>
  </mat-form-field><br>

<mat-form-field class="largo" appearance="outline">
    <mat-label>Antecedentes Médicos</mat-label>
    <textarea matInput></textarea>
  </mat-form-field><br>

<mat-form-field class="largo" appearance="outline">
    <mat-label>Antecedentes Prescritos</mat-label>
    <textarea matInput></textarea>
  </mat-form-field><br><br>

<h1 style="color:#06283D;"><b>Datos Antropométricos</b></h1><br>

<div>

<mat-form-field appearance="outline" style="margin-right: 5px;">
  <mat-label>Peso Actual</mat-label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" ><b>Kg</b></label>

<mat-form-field appearance="outline" style="margin-right: 5px;">
  <mat-label>Peso Meta</mat-label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" ><b>Kg</b></label>

<mat-form-field appearance="outline" style="margin-right: 5px;">
  <mat-label>Peso Ideal</mat-label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" ><b>Kg</b></label>

<mat-form-field appearance="outline" style="margin-right: 5px;">
  <mat-label>Grasa Viceral</mat-label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" ><b>%</b></label><br>

</div>
<div>

<mat-form-field appearance="outline" style="margin-right: 5px;">
  <mat-label>Grasa Muscular</mat-label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" ><b>%</b></label>

<mat-form-field appearance="outline" style="margin-right: 5px;">
  <mat-label>C. Cintura</mat-label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" ><b>Cm</b></label>

<mat-form-field appearance="outline" style="margin-right: 5px;">
  <mat-label>C. Cadera</mat-label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" ><b>Cm</b></label>

<mat-form-field appearance="outline" style="margin-right: 5px;">
  <mat-label>C. Muñeca</mat-label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" ><b>Cm</b></label><br>

</div>
<div>

<mat-form-field appearance="outline" style="margin-right: 5px;">
  <mat-label>C. Brazo Relajado</mat-label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" ><b>Cm</b></label>

<mat-form-field appearance="outline" style="margin-right: 5px;">
  <mat-label>C. Brazo Contraido</mat-label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" ><b>Cm</b></label>

<mat-form-field appearance="outline" style="margin-right: 5px;">
  <mat-label>Altura</mat-label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" ><b>Cm</b></label>

<mat-form-field appearance="outline" style="margin-right: 5px;">
  <mat-label>Indice masa corporal</mat-label>
  <input matInput>
</mat-form-field>

<label style="color:#06283D" ><b>Kg/m^2</b></label><br>

</div>

<br><mat-form-field class="largo" appearance="outline" >
    <mat-label>Diagnostico</mat-label>
    <textarea matInput></textarea>
  </mat-form-field><br>

  <section>
    <div class="example-button-row" style="text-align: right;">
      <button mat-raised-button style="background: #159600; color: white;">Guardar</button>
    </div>
  </section><br>

</form>
</div>