.etiquetas{
    color: rgb(68,68,68);
    font-size: 18px;
}
.contenedor{
    width:960px;
    margin:auto;
    margin-left: 400px;
}
.boton{
    color: #fff;
    background-color: #159600;
    width: 120px;
    margin-top: 30px;
    margin-left: 1700px;
}

.formField1{
    width: 32px;
}

.formField2{
    width: 65%;
}
.example-section{
    display: flex;
    width: 100%;
    align-items: center;
    /*justify-content: space-around;*/
}