.h1-format {
    color: #06283D;
   font-size: 30px;
   padding-top: 10px;
}
.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
.centro{
    position: relative;
    left: 300px;
    
}
.format-button{
    background-color: #159600;
    width: 140px;
    color: white;
    justify-content: center;
}
mat-form-field{
    width: 90%;
}
.format-select{
    width: 110px;
}
html,body{
    overflow-x: hidden;
}




