
 <div class="contenedor">

    <h1 style="color: #06283D; font-size: 30px;"><b>Historia Dietética</b></h1>
    <form [formGroup]="historiaDieteticaForms" (ngSubmit)="guardarHistoriaDietetica(historiaDieteticaForms.value)">
        <div class="example-section"> 
            <!--Actividad fisica  -->
            <mat-form-field style="padding-right: 6%;" appearance="outline">
                <mat-label>Actividad Física</mat-label>
                <input formControlName="actividadFisica" matInput >
            </mat-form-field>
            <!-- consumo de alchohol -->
            <mat-form-field style="padding-right: 6%;"  appearance="outline">
                <mat-label>Consumo de Alcohol</mat-label>
                <input formControlName="consumoAlcohol" matInput >
            </mat-form-field>
            <!-- consumo de tabaco -->
            <mat-form-field style="padding-right: 6%;" appearance="outline">
                <mat-label>Consumo de Tabaco</mat-label>
                <input formControlName="consumoTabaco" matInput >
            </mat-form-field>
        </div>
        <!-- preferencia alimenticia -->
        <mat-form-field class="formField2" appearance="outline">
            <mat-label>Preferencia alimenticia</mat-label>
            <textarea formControlName="preferenciaAlimenticia" matInput ></textarea>
        </mat-form-field>
        <!-- alimentos no prefericod -->
        <mat-form-field class="formField2" appearance="outline">
            <mat-label>Alimentos no preferidos</mat-label>
            <textarea formControlName="alimentosNoPreferidos" matInput ></textarea>
        </mat-form-field>
        <!-- Intoerancias o alergias -->
        <mat-form-field class="formField2" appearance="outline">
            <mat-label>Intolerancias o Alergias</mat-label>
            <textarea formControlName="alergias" matInput ></textarea>
        </mat-form-field>
    
        <div class="example-section">
            <!-- lugar de comida -->
            <mat-form-field style="padding-right: 6%;" appearance="outline">
                <mat-label>Lugar de comida</mat-label>
                <input formControlName="lugarDeComida" matInput >
            </mat-form-field>
            <!-- quien prepara los alimentos -->
            <mat-form-field style="padding-right: 6%;"  appearance="outline">
                <mat-label>Quién prepara los alimentos</mat-label>
                <input formControlName="quienPreparaAlimentos" matInput >
            </mat-form-field>
            <!-- Horas de sueño -->
            <mat-form-field style="padding-right: 6%;" appearance="outline">
                <mat-label>Horas de sueño</mat-label>        
                <input formControlName="horasDeSueno" matInput type="number">
            </mat-form-field>
        </div>
        <section>
            <div class="example-button-row">
              <button [disabled]="!historiaDieteticaForms.valid" type="submit" style="left: 25%;width: 200px;background-color: rgb(55, 174, 26);color: white;" mat-raised-button color="primary">Guardar</button>
              <button [disabled]="!historiaDieteticaForms.valid" style="left: 30%;width: 200px;background-color:#47B5FF;color: white;" [routerLink]="['/beneficiario/'+beneficiarioId+'/nutricion/habitosConsumo/crear']"  mat-raised-button>Siguiente</button>
            </div>
        </section><br>
    </form>
    
 </div>

