<p>
    <mat-toolbar style="background-color: #fff; color: #06283D; font-size: 25px;">
      <span><b>Historia Dietética</b></span>
    </mat-toolbar>
  </p>

<div style="margin-left: 100px; margin-top: 10px">

    <h1 class="etiquetas">Actividad física</h1>

    <mat-form-field class="formField1" appearance="outline">
        <mat-label></mat-label>
        <textarea matInput style="font-size: 18px;"></textarea>
      </mat-form-field>
</div>

<div style="margin-left: 750px; margin-top: -150px">
    <h1 class="etiquetas">Consumo de Alcohol</h1>

    <mat-form-field class="formField1" appearance="outline">
        <mat-label></mat-label>
        <textarea matInput style="font-size: 18px;"></textarea>
      </mat-form-field>
</div>

<div style="margin-left: 1350px; margin-top: -150px">
    <h1 class="etiquetas">Consumo de Tabaco</h1>

    <mat-form-field class="formField1" appearance="outline">
        <mat-label></mat-label>
        <textarea matInput style="font-size: 18px;"></textarea>
    </mat-form-field>
</div>

<div class="row" style="margin-top: 20px; margin-left: 100px;">
    <div class="column">
        <h1 class="etiquetas">Preferencia Alimenticia</h1>

        <mat-form-field class="formField2" appearance="outline">
            <mat-label></mat-label>
             <textarea matInput style="font-size: 18px;"></textarea>
        </mat-form-field>
    </div>
    <div class="column">
        <h1 class="etiquetas">Alimentos no Preferidos</h1>

        <mat-form-field class="formField2" appearance="outline">
            <mat-label></mat-label>
             <textarea matInput style="font-size: 18px;"></textarea>
        </mat-form-field>
    </div>
    <div class="column">
        <h1 class="etiquetas">Intolerancias o Alergias</h1>

        <mat-form-field class="formField2" appearance="outline">
            <mat-label></mat-label>
             <textarea matInput style="font-size: 18px;"></textarea>
        </mat-form-field>
    </div>
</div>

<div style="margin-left: 100px; margin-top: 10px">
    <h1 class="etiquetas">Lugar de comida</h1>

    <mat-form-field class="formField1" appearance="outline">
        <mat-label></mat-label>
        <textarea matInput style="font-size: 18px;"></textarea>
      </mat-form-field>
</div>

<div style="margin-left: 750px; margin-top: -150px">
    <h1 class="etiquetas">Quién prepara los alimentos</h1>

    <mat-form-field class="formField1"appearance="outline">
        <mat-label></mat-label>
        <textarea matInput style="font-size: 18px;"></textarea>
      </mat-form-field>
</div>

<div style="margin-left: 1350px; margin-top: -150px">
    <h1 class="etiquetas">Horas de sueño</h1>

    <mat-form-field class="formField1" appearance="outline" >
        <mat-label></mat-label>
        <input matInput type="number" style="font-size: 18px; height:40px">
      </mat-form-field>
</div>


<button mat-raised-button class="boton">Guardar</button>

