
 <div class="contenedor">
    <h1 style="color: #06283D; font-size: 30px;"><b>Historia Dietética</b></h1>

    <div class="example-section">       
        <mat-form-field style="padding-right: 6%;" appearance="outline">
            <mat-label>Actividad Física</mat-label>
            <input matInput >
        </mat-form-field>
        <mat-form-field style="padding-right: 6%;"  appearance="outline">
            <mat-label>Consumo de Alcohol</mat-label>
            <input matInput >
        </mat-form-field>

        <mat-form-field style="padding-right: 6%;" appearance="outline">
            <mat-label>Consumo de Tabaco</mat-label>
            <input matInput >
        </mat-form-field>
    </div>

    <mat-form-field class="formField2" appearance="outline">
        <mat-label>Preferencia alimenticia</mat-label>
        <textarea matInput style="font-size: 18px;"></textarea>
    </mat-form-field>

    <mat-form-field class="formField2" appearance="outline">
        <mat-label>Alimentos no preferidos</mat-label>
        <textarea matInput style="font-size: 18px;"></textarea>
    </mat-form-field>

    <mat-form-field class="formField2" appearance="outline">
        <mat-label>Intolerancias o Alergias</mat-label>
        <textarea matInput style="font-size: 18px;"></textarea>
    </mat-form-field>

    <div class="example-section">
        <mat-form-field style="padding-right: 6%;" appearance="outline">
            <mat-label>Lugar de comida</mat-label>
            <input matInput >
        </mat-form-field>

        <mat-form-field style="padding-right: 6%;"  appearance="outline">
            <mat-label>Quién prepara los alimentos</mat-label>
            <input matInput >
        </mat-form-field>

        <mat-form-field style="padding-right: 6%;" appearance="outline">
            <mat-label>Horas de sueño</mat-label>        
            <input matInput type="number">
        </mat-form-field>
    </div>
    
    <button mat-raised-button class="boton">Guardar</button>
 </div>

